#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  width: 90%;
  margin: auto;
  display: inline;
}

button {
  padding: 5px;
  margin: 5px;
}

input {
  padding: 5px;
  margin: 0px 10px;
}

.item-list {
  display: inline-block;
}

.card {
  /* background-color: whitesmoke; */
  outline: 1px solid black;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em;
}